* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 2vw 2vw 2vw 2vw;
}
h1,
button {
  font-size: 3vw;
}
button {
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
}
